body
{
	margin:0 !important;
	background-color: #99bbf0;
}
#header
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #bbddff;
	font-size: 24px;
	text-align:center;
}
.contener
{
	position: relative;
	width: 20%;
	background-color: #333;
	display: inline-block;
	text-align: center;
	margin-left: 6%;
	margin-right: 6%;
	margin-top:20px;
	border-radius: 10px;
	opacity: 0.7;
	transition: opacity 1s ease-in-out;
	transition: box-shadow 0.8s ease-in-out;
}
.contener:hover
{
	opacity:1;
	-webkit-box-shadow: 5px -3px 37px 0px rgba(66, 68, 95, 1);
	-moz-box-shadow: 5px -3px 37px 0px rgba(66, 68, 95, 1);
	box-shadow: 5px -3px 37px 0px rgba(66, 68, 95, 1);
}
.contener>a
{
	color: #bbb;
	letter-spacing: 2px;
	font-size: 32px;
	text-align: center;
	display: inline-block;
	text-transform: ;
	text-decoration: none; 
	margin-top: 40%;
	margin-bottom: 40%;
	transition: color 0.8s;
}
.contener:hover a
{
	color: white;
}
.contener:before
{
	/*content: "";*/
	display: block;
	padding-top:100%;
}
.dymek
{
	position: fixed;
	left:0%;
	top: 50%;
	background-image: url("Images//dziadek dymek.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding:10%;
}
#Footer
{
	position:fixed;
	bottom: 0;
	width:100%;
	height:20%;
	min-height: 200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
#trawka
{
	height:100%;
	background-image: url("Images//grass.png");
	background-repeat: repeat;
}
#domek
{
	display: block;
	background-image: url("Images//house.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 10%;
	padding: 5%;
}